# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
/.idea
Homestead.json
Homestead.yaml'.idea' 
'starters' 
public/uploads/temp/Book1Nduta.xlsx
public/uploads/temp/Nduta_cams.xlsx
resources/views/reports/clients/graphs/
resources/views/reports/clients/pdf/
protected/storage
